# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
/backend/Place.Api/.idea
/**/.idea
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml
**/[Bb]in/
**/ [Oo]bj/
**/_UpgradeReport_Files/
**/ [Pp]ackages//
*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store
backend/Place.Api/postgres-data/
backend/Place.Api/dotnetapp-data/
backend/Place.Api/dotnetapp-data/
backend/Place.Api/.env
backend/Place.Api/nginx/logs/access.log
backend/Place.Api/nginx/logs/error.log
backend/Place.Api/logs/error.log
backend/Place.Api/logs/access.log
/backend/Place.Api/src/Place.Api.Presentation/logs/
